body{
    color: rgb(168, 30, 99);
    text-align: center;
    font-family: "Courier";
    margin: 0;
    padding: 0;
}

#cabecera{
    background-color: blueviolet;
    color: white;
}

#container{
    width: 70%;
    padding: 1em;
    border: 1px solid;
    text-align: left;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}